<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-game-control
        (generator)="getEventValue($event)">
        </app-game-control>

        <div class="col-xs-12" *ngIf="eventValue % 2 === 0">
            <app-even 
            [number]="eventValue"
            ></app-even>
        </div>
        <div class="col-xs-12" *ngIf="eventValue % 2 !== 0">
            <app-odd
            [number]="eventValue"
            ></app-odd>
        </div>
      </div>
    </div>
  </div>